/* STYLES.CSS*/

:root{
  --headingBackground: rgba(255, 255, 255, 1);
  --transparent: rgba(0, 0, 0, 0);
  --lightText: rgba(220,220,220,1);
  --hovLightText: rgba(210,210,210,1);
  --darkText: rgba(20,20,20,1);
  --hovDarkText: rgba(50,50,50,1);
  --about: rgba(198,45,53,1);
  /* the old color yellow:
  --works: rgba(223,189,84,1); */
  --works: rgba(250,192,22,1);
  --resume: rgba(74,74,156,1);
  --readingList: rgba(50,165,38,1);
}

*,*::before,*::after{
  box-sizing: border-box;
}

body{
  font-family: 'Raleway', sans-serif;
  margin: 0;
  /* TODO: Check if this is needed */
  display: flex;
}

/* NAVIGATION BAR STYLES */

header{
  position: fixed;
  background-color: var(--headingBackground);
  width:100%;
  padding: 10px 30px 10px 0px;
  z-index: 9999;

  perspective: 300px;
  perspective-origin: bottom;
  /*TODO: Check this, are these two ready for removal?*/
  /* height: 70px; */
  text-align: left;
  /* Do we need this^^ */
}

.navbar{
  display: flex;
  justify-content: flex-end;
  height: 50px;
  align-items: flex-end;
}

/* This concerns the activating checkbx and the label */

#nav-toggle{
  display: none;
}

.nav-toggle-label{
  position:absolute;
  top: 20px;
  left: 15px;
  margin-left: 1em;
  height: 30px;
  /* TODO: Clean up */
  /* display: flex; */
  align-items: center;
}

.nav-toggle-label span{
  top: 13px;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after
{
  display: block;
  background: black;
  height: 3px;
  width: 1.75em;
  border-radius: 3px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after{
  content: '';
  position: absolute;
  --dist: 10px;
}

.nav-toggle-label span::before{
  bottom: var(--dist);
}

.nav-toggle-label span::after{
  top: var(--dist);
}

.logo-container,  #nav-logo{
  height: 100%;
}

/* Properties of the drop down itself */

nav{
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--headingBackground);
  width: 100%;
  padding-bottom: 5px;
  font-size: 1.25em;

  /* This gives it the swinging out effect */
  transform-origin: top;
  transform: rotateX(-90deg);
  transition: transform 300ms ease-in-out;
}

nav ul{
  list-style: none;
  margin: 0px;
  left: 0px;
  top: 0px;
  opacity: 0;
  transition: opacity 200ms ease-in-out 300ms;
}

nav li{
  line-height: 40px;
}

nav a{
  text-decoration: none;
  color: var(--darkText);
}

nav a:hover{
  color: var(--hovDarkText);
}

#nav-toggle:checked ~ nav{
  transform: rotateX(0deg);
  /* transform: scale(1, 1); */
}

#nav-toggle:checked ~ nav ul{
  opacity: 1;
}

/*
CONTENT AND LANDING PAGE HERE
*/
.landing-page{
  display: none;
}

/* FOLLOWING IS APPLICABLE IN BOTH MOBILE AND WEB */

.section-container{
  position: absolute;
  top: 70px;
  /* width: 100%; */
  display: flex;
  flex-direction: column;
}

.section{
  padding: 20px 40px;

  /* TODO: see if these following styles are needed. is padding enough? */
  /* display: grid;
  grid-template-columns: 40px 1fr 40px; */
}

.content{
  /* grid-column: 2/3; */
  display: grid;
}

.about{
  background-color: var(--about);
  color: var(--lightText);
}

.works{
  background-color: var(--works);
  color: var(--darkText);
}

.resume{
  background-color: var(--resume);
  color: var(--lightText);
}

.reading-list{
  background-color: var(--readingList);
  color: var(--darkText);
}


.content-about{
  grid-template-columns: 5px auto 5px;
  grid-template-rows: auto auto auto;
  grid-column-gap: 0px;
}

.instagram-container{
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  justify-content: center;
}

.content h1{
  font-family: 'Roboto Slab', serif;
  font-size: 6em;
  /* line-height: 50px;*/
  margin: 0;
  text-align: center;
  grid-column: 2/3;
  grid-row: 1/2;
}

.content p{

  font-size: 1.75em;
  margin: 20px 0px;
  line-height: 50px;
}

.instagram-media{
  grid-column: 2/3;
  /* height: 100%; */
}

.column{
  grid-column: 2/3;
  /* display: flex; */
  text-align: left;
}

.column h2{
  font-size: 2.5em;
  font-weight: 600;
}

.column .highlight{
  font-size: 1em;
  font-weight: 100;
  font-style: italic;
}

/* .head-container{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
} */

.head{
  /* display: flex; */
  /* TODO: test this */
  /* justify-content: flex-end; */
  text-align: right;
}

.head-highlight .highlight{
  /* margin: 15px 0px; */
  margin: 0px;
}

.head-main h2{
  margin: 15px 0px;
}

.head-hr{
  width: 100px;
  border: 1px solid white;
  margin: 0px;
  margin-left: auto;
}


/********************************************************************************
  Media Queries begins here for laptop
*********************************************************************************/

@media only screen and (min-width: 765px) {
  .container{

  }
  /* Reset the nav */
  header{
    position: fixed;
    background-color: var(--headingBackground);
    width:20%;
    height: 100%;
    padding: 35px 30px 35px 30px;
    z-index: 999;
    /* TODO: is this needed? vvvv */
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  /* This is still used because it mainly styles the logo */

  .navbar{
    /* TODO: Check to see if following position is needed */
    position: relative;
    flex: 0 3 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100px;
    top: 0px;
  }

  .logo-container,  #nav-logo{
    height: 75%;
  }

  /* Remove button */

  .nav-toggle-label{
    display: none;
  }

  /* TODO: use 'top' and  -transform: translate; to position instead*/
  nav{
    /* TODO: Clean up text */
    /* background-color: var(--headingBackground); */
    /* left: 0px; */
    /* background: var(--headingBackground); */
    /* display: none; */
    position: relative;
    text-align: right;
    top: 0;
    left: 0;
    font-size: 1em;
    font-weight: 600;
    width: 100%;
    transform: rotateX(0deg);
    flex: 1 1 auto;
    justify-content: center;

    display: flex;
    flex-direction: column;
    align-content: center;
  }

  .nav-spacer-1{
    flex: 1 0 10px;
  }

  .nav-spacer-1::before{
    content: '';
    height:2px;
    background: var(--darkText);
  }

  .nav-spacer-2{
    flex: 4 4 100px
  }

  nav ul{
    list-style: none;
    /* TODO: Check to see the impact it has */
    padding: 0;
    margin: 0px;
    left: 0px;
    top: 0px;
    opacity: 1;
  }

  nav li{
    line-height: 50px;
  }

  nav a{
    text-decoration: none;
    color: var(--darkText);
  }

  nav a:hover{
    color: var(--hovDarkText);
  }

  .social-media{
    flex: 0 1 100px;
  }

  /* START OF CONTENT */

  .section-container{
    left:20%;
    width: 80%;
    top: 0;
  }

  .content h1{
    text-align: left;
  }

  /* TODO: Adjust this so it adjust better with screen size */

  /*
  ABOUT SECTION
  */

  .content-about{
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto, auto;
    grid-column-gap: 30px;
  }

  .content-about h1{
    grid-column: 1/7;
    grid-row: 1/2;
  }

    /* Instagram here */
  .instagram-container{
    grid-column: 9/-1;
    grid-row: 2/3;
  }

  .about-column-1 {
    grid-column: 1/9;
    grid-row: 2/3;
  }


  /* TODO: This seems unneeded because of text rule at line 212*/
  /* .column p{
    font-size: 1.75em;
  } */
}

/********************************************************************************
  Fine tuning Media Queries begin here
*********************************************************************************/

@media only screen and (min-width: 880px) {

  /* Adjusts the font height, making it more fluid */
  nav{
    font-size: 1.25em;
  }

}

@media only screen and (min-width: 985px) {

  /* Adjusts the logo */
  .logo-container,  #nav-logo{
    height: 85%;
  }

  /* Adjusts the font height, making it more fluid */
  nav{
    font-size: 1.5em;
  }

}

@media only screen and (min-width: 1210px) {

  /* Adjusts the logo */
  .logo-container,  #nav-logo{
    height: 100%;
  }

  /* Adjusts the font height, making it more fluid */
  nav{
    font-size: 2em;
  }

}
