.Landing {
    width: 100%;
    height: 100vh;
}

/* Background */
.backgroundImage {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -99;
}

.darkFilter {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--color-bg);
    z-index: -98;
}

/* Landing content */
.landingBox {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 70px auto;
    grid-template-rows: 100%;
    /* align-items: ; */
}

.nameBox {
    color: #fef8ec;
    /* margin: auto; */

    grid-column: 2/3;
    grid-row: 1/2;
    padding: 20px;
    vertical-align: text-top;
    align-content: center;
    /* text-align: start; */
}

.landingText {
    font-weight: 400;
    margin: 0;
}

/* LOGO */
.logoBox {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    padding: 10px;
    grid-column: 1/2;
    grid-row: 1/2;
    /* grid-gap:10px; */
    background: var(--color-sel);
}
