.Navbar{
    width: 100%;
    position: fixed;
    top: 0px;
}

.NavbarFragment{
    width: inherit;
    position: absolute;
    top: 0px ;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.linkContainer{
    display: flex;
}

.navLink {
    /* flex-grow: 1 */
    /* color: #fef8ec; */
    color: inherit;
    font-family: 'Montserrat', sans-serif;
}

.home {
    font-family: 'Lora', serif;
    font-size: 40pt;
}

