@keyframes cursor-blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.textCursor {
    /* display: inline-block; */
    /* position: absolute; */
    animation: cursor-blink 1s step-end infinite;
    background-color: var(--color-fg);
    /* width: 25px;
    height: 45px; */
    font-family: "Roboto Mono";
    font-size: 45px;
}

.PageSel {
    position: relative;
    display: inline-block;
}

.pages {
    box-sizing: border-box;
    position: absolute;
    display: none;
    border: 2px solid var(--color-cm);
    left: -2px;
}

.PageSel:hover .pages {
    display: block;
}

.pageLink {
    display: block;
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
    font-weight: 100;
    font-size: 45px;
    color: var(--color-fg);

}

.pageLinkBox{
    width: 250px;
    background-color: var(--color-cl);

}

.pageLinkBox:hover{
    background-color: var(--color-sel);
}
