---
import { Debug } from 'astro:components';
import Base from '../layouts/Base.astro';
import Card from '../components/Card.astro';
import Project from '../components/Project.astro';
import Experience from '../components/Experience.astro';

import creds from '../data/creds.json';
---

<Base title="Miguel Maramara">
	<main class="m-auto mt-44 max-w-3xl">
    <h1>Hi, I'm Miguel!</h1>
    <h4>Software Engineer</h4>

    <h2>Projects</h2>
		<ul>
      {
        creds.projects
          .slice(0,7)
          .map((project) => 
          <Project
            title={project["Name"]}
            body={project["Short Description"]}
          />
        )
      }
		</ul>

    <h2>Experience</h2>
		<ul>
      {
        creds.experience
          .slice(0,7)
          .map((experience) => 
          // <Debug
          //   experience={experience}
          // />
          <Experience
            experience={experience}
          />
        )
      }
		</ul>
	</main>
</Base>
